@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: 'Baloo 2', cursive;
    font-size: 1rem;
    color: var(--cafeoscuro-color);

}
.principal{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 1.5rem;
    padding-top: 2.5rem;
    column-gap: 1.5rem;   
    background-image: url(../../img/fondomovil.jpg);
    background-size: 100%;
    background-repeat: repeat-x;

}

.title{
    grid-column: 1/-1;
    grid-row: 1/2;
    
    margin-bottom: 1rem;
    text-align: center;
    background-color:var(--amarillo-color) ;
}
.title h1{
    text-align: left;
    color: var(--cafeoscuro-color);
    font-size: 2rem;
    font-weight:bolder;
    margin: 0px;
    text-align: center;
}

.sidebar{
    grid-column: 1/-1;
    grid-row: 2/3;
    align-items: center;
    margin-bottom: 0px;
}
h3{
    color: var(--cafeoscuro-color);
}
.sidebar ul{
    margin-top: 0.5rem;
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--cafemasoscuro-color) ;
    border-bottom:2px solid var(--cafemasoscuro-color) ;
}

.sidebar a{
    color: var(--cafeoscuro-color);
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

.sidebar i{
    padding-right: 16px;
}

.sidebar a:hover{
    background-color: var(--amarillo-color);
    cursor: pointer;
    transform: scale(1.05);
}


.user{
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(230, 221, 221, 0.452)
}

.user a{
    color: #085A88;
    font-weight: 600;
}




 @media screen and (min-width:700px){
   
    
    .principal{
        width: 100%;
        height: 100%;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
        padding: 0px;
        padding-bottom: 2.5rem;
        margin: 0px;
        column-gap: 1.5rem;
        background-image: url(../../img/fondoform.jpg);
        background-size: 100%;
        background-repeat: repeat;
    }
    
    .title h1{
        font-size: 2.5rem;
    }
    
    .sidebar{
        grid-column: 1/4;
        grid-row: 2/4;
        padding: 1.5rem;
    }
    
    .sidebar ul{
        margin-top: 0.5rem;
        list-style: none;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        border-top: none;
        border-bottom: none;
    }
    
    .sidebar a{
        color: var(--cafeoscuro-color);
        font-size: 1rem;
        padding: 8px;
        display: block;
        margin-bottom: 0.5rem;
        margin-top: 0.6rem;
    }
    
    .user{
        display: grid;
        grid-column: 4/12;
        grid-row: 2/4;
        margin-top: 1rem;
        margin-bottom: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 1.5rem;
    }
    
    .user_title {
        margin-top: 1rem;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    .user_information {
        display: grid;
        grid-column: 1/-1;
        grid-row: 2/3;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
    
    .user_information_name{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .user_information_email{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    
    .user_information_adress{
        grid-column: 3/5;
        grid-row: 2/3;
    }
    
    .user_information_phone{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .user_information_editPassword{
        grid-column: 1/2;
        grid-row: 3/4;
    }

}

    @media screen and (min-width:1000px){
        .principal{

            background-image: url(../../img/fondoform.PNG);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }